{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="d-flex flex-column align-items-center justify-content-center" style="height: calc(100vh - 72px); padding-bottom: 72px">
        <form action="{{ path('app_login') }}" method="post" class="w-100" style="max-width: 500px;">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <h1 class="my-3 font-weight-normal">
                Connexion
            </h1>

            <div class="d-flex flex-column gap-2">
                <div class="form-group d-flex flex-column gap-1">
                    <label for="username">Email</label>
                    <input type="email" placeholder="email@exemple.com" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
                </div>

                <div class="form-group d-flex flex-column gap-1">
                    <label for="password">Mot de passe</label>
                    <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
                </div>
            </div>

            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}

            
            <button class="btn btn-lg btn-primary mt-3" type="submit">
                Connexion
            </button>
        </form>

        <div class="mt-3">
            <p>Pas de compte ? <a href="{{ path('app_register') }}">Créer un compte</a></p>
        </div>
    </div>
{% endblock %}
