{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% set creationDate = article.creationDate %}
{% set lastUpdate = article.lastUpdate %}
{% set isSameDay = creationDate|date('d/m/Y') == (lastUpdate ? lastUpdate|date('d/m/Y') : creationDate|date('d/m/Y')) %}
{% set isToday = creationDate|date('d/m/Y') == "now"|date('d/m/Y') %}

{% block body %}
    <div class="container mt-4" style="min-height: calc(100vh - 72px); padding-bottom: 72px;">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h1>{{ article.title }}</h1>
                <p class="text-muted">
                    <small class="d-block">
                        Par {{ article.user.firstName }} {{ article.user.name }}
                    </small>
                    <small class="d-block">
                        Publié {{ isToday ? "aujourd'hui à " ~ article.creationDate | date('H:i:s') : "le " ~ article.creationDate | date('d/m/Y à H:i:s') }}
                        {% if lastUpdate %}
                            {% if isSameDay %}
                                , modifié à {{ lastUpdate|date('H:i:s') }}
                            {% else %}
                                , modifié le {{ lastUpdate|date('d/m/Y à H:i:s') }}
                            {% endif %}
                        {% endif %}
                    </small>
                </p>

                <div class="my-4">
                    <p class="text-muted">{{ article.description }}</p>
                </div>

                <div class="mt-4">
                    <p>{{ article.content|raw }}</p>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-8 offset-md-2">
                <h3>Commentaires</h3>
                {% if comments is empty %}
                    <p class="text-muted">Aucun commentaire pour le moment. Soyez le premier à commenter !</p>
                {% else %}
                    <ul class="list-unstyled">
                        {% for comment in comments %}
                            <li class="my-4">
                                <h5 class="mt-0 mb-1">{{ comment.user.firstName }} {{ comment.user.name }}</h5>
                                <small class="text-muted">
                                    Posté le {{ comment.createdAt | date('d/m/Y à H:i:s') }}
                                </small>
                                <p class="mt-2">{{ comment.content }}</p>   
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-8 offset-md-2">
                <h3>Ajouter un commentaire</h3>
                {{ form_start(commentForm) }}
                    <div class="form-group">
                        {{ form_row(commentForm.content, {'attr': {'disabled': not app.user}}) }}
                    </div>
                    <button type="submit" class="btn btn-primary mt-2" {% if not app.user %}disabled{% endif %}>Publier</button>
                {{ form_end(commentForm) }}

                {% if not app.user %}
                    <p class="mt-3">Vous devez être connecté pour ajouter un commentaire.</p>
                    <a href="{{ path('app_login') }}" class="btn btn-primary">Se connecter</a>
                {% endif %}

                <div class="mt-4">
                    <a href="{{ path('article_show_all') }}" class="btn btn-outline-primary">
                        Retour aux articles
                    </a>
                </div>
            </div>
        </div>
    </div>

    <style>
        img{
            width: 100%;
        }
    </style>


{% endblock %}

