{% extends 'base.html.twig' %}

{% block title %}Creer article{% endblock %}

{% block body %}

    <section class="d-flex flex-column justify-content-center" style="min-height: calc(100vh - 72px); padding-bottom: 72px">
        <h1 class="my-4">Creer un article</h1>

        {{ form_start(form, {'method': 'POST'}) }}

        {{ form_row(form.title) }}
        {{ form_row(form.description) }}
        {{ form_row(form.imageUrl) }}
        {{ form_row(form.content) }}
        <div class="form-group mb-3">
            {{ form_label(form.content) }}
            <div id="editor"></div>
        </div>

        <button class="btn btn-primary">
            Creer
        </button>

        {{ form_end(form) }}
    </section>

    {% block javascripts %}
        <script>
            const toolbarOptions = [
                [{ 'header': [1, 2, 3, 4, 5, 6, false] }], 
                ['bold', 'italic', 'underline', 'strike'],
                ['link', 'image'],

                [{ 'list': 'ordered'}, { 'list': 'bullet' }],
            ];

            const quill = new Quill('#editor', {
                theme: 'snow',
                modules: {
                    toolbar: toolbarOptions
                }
            });

            const form = document.querySelector('form');
            const content = document.getElementsByClassName('content')[0];
            form.addEventListener('submit', () => {
                content.value = quill.root.innerHTML;
            });
        </script>
    {% endblock %}

{% endblock %}

