{% extends 'base.html.twig' %}

{% block title %}Creer article{% endblock %}

{% block body %}

    <section class="d-flex flex-column justify-content-center" style="height: calc(100vh - 72px); padding-bottom: 72px">
        <h1 class="my-4">Creer un article</h1>

        {{ form_start(form, {'method': 'POST'}) }}

        {{ form_row(form.title) }}
        {{ form_row(form.description) }}
        {{ form_row(form.imageUrl) }}
        {{ form_row(form.content) }}
        <div class="form-group mb-3">
            {{ form_label(form.content) }}
            <div id="editor"></div>
        </div>

        <button class="btn btn-primary">
            Creer
        </button>

        {{ form_end(form) }}
        
        <button id="save">save</button>
    </section>

    {% block javascripts %}
        <script>
            const quill = new Quill('#editor', {
                theme: 'snow'
            });

            document.getElementById('save').addEventListener('click', () => {
                const text = quill.getSemanticHTML();
                console.log(text);
            });
        </script>
    {% endblock %}

{% endblock %}

