{% extends 'base.html.twig' %}

{% block title %}Modifier article{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1 class="my-4">Modifier l'article "{{ article.title }}"</h1>

    {{ form_start(form, {'method': 'POST'}) }}
    
    {{ form_row(form.title) }}
    {{ form_row(form.description) }}
    {{ form_row(form.content) }}

    <button class="btn btn-primary">
        Modifier
    </button>

    {{ form_end(form) }}
</div>
{% endblock %}
