{% extends 'base.html.twig' %}

{% block title %}Modifier article{% endblock %}

{% block body %}

    <section class="d-flex flex-column justify-content-center" style="min-height: calc(100vh - 72px); padding-bottom: 72px">
        <h1 class="my-4">Modifier l'article "{{ article.title }}"</h1>

    {{ form_start(form, {'method': 'POST'}) }}
    
    {{ form_row(form.title) }}
    {{ form_row(form.description) }}
    {{ form_row(form.imageUrl) }}
    {{ form_row(form.content) }}

    <button class="btn btn-primary">
        Modifier
    </button>

    {{ form_end(form) }}
</section>
{% endblock %}
